@charset "UTF-8";

 @font-face {
  font-family: 'steamlugfont';
  src: url('../font/steamlugfont.eot?7864406');
  src: url('../font/steamlugfont.eot?7864406#iefix') format('embedded-opentype'),
       url('../font/steamlugfont.woff?7864406') format('woff'),
       url('../font/steamlugfont.ttf?7864406') format('truetype'),
       url('../font/steamlugfont.svg?7864406#steamlugfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'steamlugfont';
    src: url('../font/steamlugfont.svg?7864406#steamlugfont') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "steamlugfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-0:before { content: '0'; }
.fa-1:before { content: '1'; }
.fa-2:before { content: '2'; }
.fa-3:before { content: '3'; }
.fa-4:before { content: '4'; }
.fa-5:before { content: '5'; }
.fa-6:before { content: '6'; }
.fa-7:before { content: '7'; }
.fa-8:before { content: '8'; }
.fa-9:before { content: '9'; }
.fa-colon:before { content: ':'; }
.fa-unsorted:before { content: '⇕'; }
.fa-users:before { content: '⊲'; }
.fa-sort-up:before { content: '⌃'; }
.fa-sort-down:before { content: '⌄'; }
.fa-circle:before { content: '●'; }
.fa-star:before { content: '★'; }
.fa-star-empty:before { content: '☆'; }
.fa-frown:before { content: '☹'; }
.fa-smile:before { content: '☺'; }
.fa-heart-empty:before { content: '♡'; }
.fa-heart:before { content: '♥'; }
.fa-cog:before { content: '⚙'; }
.fa-bookmark-empty:before { content: '⛉'; }
.fa-bookmark:before { content: '⛊'; }
.fa-shield:before { content: '⛨'; }
.fa-reply:before { content: '⮪'; }
.fa-cancel-circled:before { content: '⮿'; }
.fa-globe:before { content: '🌐'; }
.fa-gamepad:before { content: '🎮'; }
.fa-award:before { content: '🏅'; }
.fa-trophy:before { content: '🏆'; }
.fa-twitter:before { content: '🐦'; }
.fa-linux:before { content: '🐧'; }
.fa-eye:before { content: '👁'; }
.fa-thumbs-up:before { content: '👍'; }
.fa-thumbs-down:before { content: '👎'; }
.fa-user:before { content: '👱'; }
.fa-calendar:before { content: '📅'; }
.fa-calendar-empty:before { content: '📆'; }
.fa-file-audio:before { content: '📣'; }
.fa-file-video:before { content: '📹'; }
.fa-retweet:before { content: '🔁'; }
.fa-lock:before { content: '🔒'; }
.fa-lock-open-alt:before { content: '🔓'; }
.fa-link:before { content: '🔗'; }
.fa-clock:before { content: '🕘'; }
.fa-eye-off:before { content: '🕶'; }
.fa-thumbs-up-alt:before { content: '🖒'; }
.fa-thumbs-down-alt:before { content: '🖓'; }
.fa-file-image:before { content: '🖻'; }
.fa-comment:before { content: '🗩'; }
.fa-chat:before { content: '🗪'; }
.fa-emo-grin:before { content: '😀'; }
.fa-meh:before { content: '😐'; }
.fa-circle-o:before { content: '🞅'; }
